<link rel="stylesheet" href="./css/daily.css">

<div class="bg">
  <div class="title">Tonight's Dinner:</div>
  <div class = "parameters form-group"><!--Div showing parameters that user put in-->
    <center class="text">Parameters: </center>
    <br />
    <center>
      Diet: {{params.diet}} <br />
      Health Plan: {{params.health}} <br />
      Calories: {{params.min}} - {{params.max}}
    </center>
    <br />
    <center><button onclick="location.href='/daily'" class="btn btn-info">Edit</button></center>
  </div>

 <a href="/home"><span id="home" class="glyphicon glyphicon-home"></span></a> 

 <div class="nutrition form-group"><!--Div showing nutrition facts of the recipe-->
    <center class="text">Nutrition: </center>
    <br />
    <center>
      {{#each totalNutrients}}
         {{label}}: {{quantity}} {{unit}}
         <br />
      {{/each}}
    </center>
  </div>
  <div class="ingredients form-group"><!--Div showing recipe-->
    <center class="text">Ingredients: </center>
    <br />
    <center>
      {{#each ingredients}}
         {{text}}
         <br/>
      {{/each}}
    </center>
  </div>
  <div class="info">
    <!--Div showing general dish info-->
    <center><p class="text">Recipe name: </p>{{label}}</center>
    <br />
    <center><p class="text">Calories:</p>{{calories}}</center>
    <br />
    <center><img src="{{image}}" style="width:250px;height:200px;"></center>
    <br />
    <center><button onclick="location.href='{{url}}'" class="btn btn-info">Get the recipe here!</button></center>
    <br />
  </div>
</div>
